samples/CrashDriver-cmf/invalid-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/BadSchema/1.0/"
           xmlns:tns="http://example.com/BadSchema/1.0/"
           elementFormDefault="qualified">

  <!-- This schema violates multiple NIEM NDR rules intentionally -->

  <!-- VIOLATION 1: Missing conformance target declaration (Rule 4-4, 4-5) -->
  <!-- NIEM schemas MUST have ct:conformanceTargets attribute -->

  <!-- VIOLATION 2: Missing required NIEM imports -->
  <!-- Reference schemas should import NIEM core -->

  <!-- VIOLATION 3: Non-NIEM naming conventions -->
  <xs:element name="badElement" type="xs:string">
    <!-- VIOLATION: Element names should be PascalCase in NIEM -->
    <xs:annotation>
      <xs:documentation>This violates NIEM naming rules</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- VIOLATION 4: Direct use of XML Schema built-in types without NIEM wrappers -->
  <xs:element name="DirectString" type="xs:string"/>
  <xs:element name="DirectInt" type="xs:int"/>

  <!-- VIOLATION 5: Complex type without proper NIEM structure -->
  <xs:complexType name="badType">
    <!-- VIOLATION: Type names should end with "Type" but follow NIEM patterns -->
    <xs:sequence>
      <xs:element name="field1" type="xs:string"/>
      <xs:element name="field2" type="xs:int"/>
      <!-- VIOLATION: No augmentation points -->
    </xs:sequence>
    <!-- VIOLATION: Direct attributes without NIEM patterns -->
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>

  <!-- VIOLATION 6: Using xs:ID type directly (Rule 9-2) -->
  <xs:element name="BadID" type="xs:ID"/>

  <!-- VIOLATION 7: Using xs:IDREF type directly (Rule 9-3) -->
  <xs:element name="BadIDREF" type="xs:IDREF"/>

  <!-- VIOLATION 8: Using xs:IDREFS type directly (Rule 9-4) -->
  <xs:element name="BadIDREFS" type="xs:IDREFS"/>

  <!-- VIOLATION 9: Base type in XML namespace (Rule 9-1) -->
  <xs:complexType name="XMLNamespaceViolationType">
    <xs:complexContent>
      <xs:extension base="xml:lang">
        <xs:sequence>
          <xs:element name="SomeField" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- VIOLATION 10: Missing documentation -->
  <xs:element name="UndocumentedElement" type="xs:string"/>

  <!-- VIOLATION 11: Improper use of mixed content -->
  <xs:complexType name="MixedContentType" mixed="true">
    <xs:sequence>
      <xs:element name="Child" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- VIOLATION 12: Anonymous types (should be named in NIEM) -->
  <xs:element name="AnonymousTypeElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InnerElement" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>