api/tests/fixtures/sample_schemas/simple_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/simple"
           xmlns:tns="http://example.com/simple"
           elementFormDefault="qualified">

    <xs:element name="SimpleDocument" type="tns:SimpleDocumentType"/>

    <xs:complexType name="SimpleDocumentType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string"/>
            <xs:element name="Title" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>