samples/NIBRS 2025.0.1/base-xsd/niem/xsd/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/5.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="2D" literal="Two-dimensional"/>
      <appinfo:LocalTerm term="3D" literal="Three-dimensional"/>
      <appinfo:LocalTerm term="Alpha2" definition="Two-letter"/>
      <appinfo:LocalTerm term="Alpha3" definition="Three-letter"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="ESN" literal="electronic serial number"/>
      <appinfo:LocalTerm term="FATCA" literal="Foreign Account Tax Compliance Act"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GENC" literal="Geopolitical Entities, Names, and Codes"/>
      <appinfo:LocalTerm term="GSM" literal="Global System for Mobile communication"/>
      <appinfo:LocalTerm term="IMEI" literal="International Mobile Equipment Identity"/>
      <appinfo:LocalTerm term="IPv4" literal="Internet Protocol version 4"/>
      <appinfo:LocalTerm term="IPv6" literal="Internet Protocol version 6"/>
      <appinfo:LocalTerm term="ISO" literal="International Organization for Standardization"/>
      <appinfo:LocalTerm term="ISO3166" definition="ISO 3166 is a standard published by the International Organization for Standardization (ISO) that defines codes for the names of countries, dependent territories, special areas of geographical interest, and their principal subdivisions (e.g., provinces or states). The official name of the standard is Codes for the representation of names of countries and their subdivisions."/>
      <appinfo:LocalTerm term="ISSN" literal="International Standard Serial Number"/>
      <appinfo:LocalTerm term="MAC" literal="media access control address"/>
      <appinfo:LocalTerm term="MIME" literal="Multipurpose Internet Mail Extensions"/>
      <appinfo:LocalTerm term="MSRP" literal="Manufacturer's suggested retail price"/>
      <appinfo:LocalTerm term="NANP" literal="North American Numbering Plan"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="RFID" literal="Radio-frequency identification"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCP" literal="Transmission Control Protocol"/>
      <appinfo:LocalTerm term="UMTS" literal="Universal Mobile Telecommunications Service"/>
      <appinfo:LocalTerm term="UTC" literal="Coordinated Universal Time"/>
      <appinfo:LocalTerm term="UTM" literal="Universal Transverse Mercator"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="utility/structures.xsd"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ActivityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A data type for an amount of money.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Amount" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentType">
    <xs:annotation>
      <xs:documentation>A data type for an occurrence or an event that may require a response.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:IncidentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InjuryType">
    <xs:annotation>
      <xs:documentation>A data type for a form of harm or damage sustained by a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:InjuryCategoryAbstract" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IntegerRangeType">
    <xs:annotation>
      <xs:documentation>A data type for a range of integer values.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RangeMaximumIntegerValue" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:RangeMinimumIntegerValue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemCategoryAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ItemQuantity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ItemStatus" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ItemValue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemValueType">
    <xs:annotation>
      <xs:documentation>A data type for an evaluation of the monetary worth of an item.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemValueAmount" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ItemValueDate" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocaleType">
    <xs:annotation>
      <xs:documentation>A data type for a geopolitical area.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocaleJudicialDistrictAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationCategoryAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:LocationLocale" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValueAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:MeasureUnitAbstract" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumericType">
    <xs:annotation>
      <xs:documentation>A data type for a number value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:OrganizationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between people.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonEthnicityAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonRaceAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonResidentAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSexAbstract" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation>A data type for a count or tally.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:NumericType">
        <xs:attribute ref="nc:quantityUnitText" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation>A data type for a state of something or someone.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubstanceMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measure of the amount of something.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:MeasureType">
        <xs:sequence>
          <xs:element ref="nc:SubstanceUnitAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:SubstanceMeasureAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubstanceType">
    <xs:annotation>
      <xs:documentation>A data type for the matter or substance of which something consists.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="nc:SubstanceCategoryAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:SubstanceAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:SubstanceQuantityMeasure" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measure of an amount of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:MeasureType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WeaponType">
    <xs:annotation>
      <xs:documentation>A data type for a property item used as an instrument of attack or defense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="quantityUnitText" type="xs:string">
    <xs:annotation>
      <xs:documentation>A unit of counting or tallying for a quantity.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="Activity" type="nc:ActivityType">
    <xs:annotation>
      <xs:documentation>A single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ActivityType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDate" type="nc:DateType">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>An identification that references an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Amount" type="niem-xs:decimal">
    <xs:annotation>
      <xs:documentation>An amount of money.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Incident" type="nc:IncidentType">
    <xs:annotation>
      <xs:documentation>An occurrence or an event that may require a response.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IncidentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Injury" type="nc:InjuryType">
    <xs:annotation>
      <xs:documentation>A form of harm or damage sustained by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of bodily harm or injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Item" type="nc:ItemType">
    <xs:annotation>
      <xs:documentation>An article or thing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemQuantity" type="nc:QuantityType">
    <xs:annotation>
      <xs:documentation>A count of the individual units which make up an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemStatus" type="nc:StatusType">
    <xs:annotation>
      <xs:documentation>A status of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemValue" type="nc:ItemValueType">
    <xs:annotation>
      <xs:documentation>An evaluation of the monetary worth of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemValueAmount" type="nc:AmountType">
    <xs:annotation>
      <xs:documentation>A monetary value of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemValueDate" type="nc:DateType">
    <xs:annotation>
      <xs:documentation>A date an item value takes effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocaleJudicialDistrictAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a judicial district.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location" type="nc:LocationType">
    <xs:annotation>
      <xs:documentation>A geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind or functional description of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationLocale" type="nc:LocaleType">
    <xs:annotation>
      <xs:documentation>A geopolitical area.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Measure" type="nc:MeasureType">
    <xs:annotation>
      <xs:documentation>A dimension, capacity, or amount of something ascertained by measuring.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureDecimalValue" type="niem-xs:decimal" substitutionGroup="nc:MeasurePointAbstract">
    <xs:annotation>
      <xs:documentation>A decimal measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureIntegerRange" type="nc:IntegerRangeType" substitutionGroup="nc:MeasureRangeAbstract">
    <xs:annotation>
      <xs:documentation>An integer measurement range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureIntegerValue" type="niem-xs:integer" substitutionGroup="nc:MeasurePointAbstract">
    <xs:annotation>
      <xs:documentation>An integer measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasurePointAbstract" substitutionGroup="nc:MeasureValueAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureRangeAbstract" substitutionGroup="nc:MeasureValueAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement specified by a minimum and maximum value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnitAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueListAbstract" substitutionGroup="nc:MeasureValueAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a list of measurement values.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueText" type="nc:TextType" substitutionGroup="nc:MeasureValueAbstract">
    <xs:annotation>
      <xs:documentation>A textual description of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization" type="nc:OrganizationType">
    <xs:annotation>
      <xs:documentation>A unit which conducts some sort of business or operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OrganizationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>An identification that references an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationLocation" type="nc:LocationType">
    <xs:annotation>
      <xs:documentation>A location of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAgeMeasure" type="nc:TimeMeasureType">
    <xs:annotation>
      <xs:documentation>A measurement of the age of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicityAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonResidentAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manner of residence a person has in a city, town, community, or other area..</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RangeMaximumIntegerValue" type="niem-xs:integer">
    <xs:annotation>
      <xs:documentation>A maximum value of a range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RangeMinimumIntegerValue" type="niem-xs:integer">
    <xs:annotation>
      <xs:documentation>A minimum value of a range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOfAbstract">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status or condition of something or someone.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatusType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Substance" type="nc:SubstanceType">
    <xs:annotation>
      <xs:documentation>A matter or substance of which something consists.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a name of a substance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SubstanceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of substance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceMeasureAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type nc:SubstanceMeasureType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceQuantityMeasure" type="nc:SubstanceMeasureType">
    <xs:annotation>
      <xs:documentation>A quantity of a substance being described.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubstanceUnitAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure for an amount of substance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="YearMonthDate" type="niem-xs:gYearMonth" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A year and month.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
